Repository aceforeverd/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: bash, zsh, fish, tmux, bat, github, vim, git, scripts, gpg, kitty, alacritty, doc

.github/labeler.yml:

bash:
  - .bashrc
  - .common/**/*.bash
  - test/**/*.bash

zsh:
  - .zshrc
  - .zshenv
  - .common/**/*.zsh
  - test/**/*.zsh

fish:
  - .common/**/*.fish
  - .config/fish/**/*
  - test/**/*.fish

tmux:
  - .tmux.conf
  - .tmux/**/*

bat:
  - .config/bat/**/*

github:
  - .github/**

vim:
  - .gvimrc
  - .ideavimrc
  - .vimrc
  - .vim/**/*
  - .config/nvim/**/*

git:
  - .gitignore
  - .config/git/**

scripts:
  - .scripts/**/*
  - setup.sh

gpg:
  - .gnupg/**/*

kitty:
  - .config/kitty/**/*

alacritty:
  - .config/alacritty/**/*

doc:
  - README*
  - LICENSE*

update shell cfgs
  .config/alacritty/alacritty.yml
  .config/kitty/kitty.conf
Labels: kitty, alacritty

update terminal cfgs
  .config/alacritty/alacritty.yml
  .config/kitty/kitty.conf
Labels: kitty, alacritty

update alacritty config
  .config/alacritty/alacritty.yml
Labels: alacritty

define functions all in common.fish, do not funcsave
  .common/common.fish
  .config/fish/fish_plugins
Labels: fish

rm fish-nvm
  .config/fish/fish_plugins
Labels: fish

update labeler
  .github/workflows/label.yml
Labels: github

rm nvm from bashrc
  .bashrc
Labels: bash

rm nvm from bashrc (#11)
  .bashrc
Labels: bash

support meta/alt keybindings
  .config/alacritty/alacritty.yml
Labels: alacritty

update
  .common/common.fish
  .tmux.conf
  screen-256color-it.terminfo
Labels: fish, tmux

add terminfo
  screen-256color.terminfo
Labels: none

update kitty cfg
  .config/kitty/kitty.conf
Labels: kitty

kitty: enable +zero feature
  .config/kitty/kitty.conf
Labels: kitty

update
  .config/kitty/kitty.conf
  setup.sh
Labels: scripts, kitty

fix tmux wrapper
  .common/common.fish
Labels: fish

fix(kitty): symbol_map
  .config/kitty/kitty.conf
Labels: kitty

feat(fish): alias rm='rm -v'
  .common/common.fish
Labels: fish

fix tmux cmd
  .common/common.fish
Labels: fish

save changes
  .bashrc
  .common/common.bash
  .config/alacritty/alacritty.yml
  .config/fish/fish_plugins
  .config/kitty/kitty.conf
  .tmux.conf
Labels: bash, fish, tmux, kitty, alacritty

fix: realpath on mac
  .common/common.fish
Labels: fish

chore: update comments
  screen-256color.terminfo
Labels: none

tmux italic
  .common/common.zsh
Labels: zsh

update cfg for kitty & alacritty
  .config/alacritty/alacritty.yml
  .config/kitty/kitty.conf
Labels: kitty, alacritty

feat: init zoxide for bash/zsh
  .bashrc
  .zshrc
Labels: bash, zsh

feat(fish): update default key bindings
  .common/common.fish
Labels: fish

add pyenv
  .bashrc
  .common/common.fish
  .config/kitty/kitty.conf
  .ideavimrc
  .zshrc
Labels: bash, zsh, fish, vim, kitty

update dotfiles
  .bashrc
  .common/common.fish
  .config/alacritty/alacritty.yml
  .config/fish/fish_plugins
  .config/kitty/kitty.conf
  .gvimrc
  .zshrc
Labels: bash, zsh, fish, vim, kitty, alacritty
